body {
  margin: 0;
  padding: 0;
  color: #F2F4F5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-image:url(https://i.pinimg.com/564x/6d/66/a7/6d66a7a0a4e663a455e55a36c03b0d34.jpg);/* https://i.pinimg.com/564x/41/e4/1b/41e41b8f29004bfca6e08294e4396439.jpg */
  background-size:cover;
  background-position:center;
  background-repeat: no-repeat;
}

#root {
  margin:  0px auto 70px;
  position: relative;
  min-height: 100vh;
  max-width: 700px;
  background: red;/*rgba(70, 76, 78, 0.15)*/
}